{{- $email := promptStringOnce . "email" "Your email address" -}}
{{- $name := promptStringOnce . "name" "Your full name" -}}

[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}

[edit]
    command = "hx"

[git]
    autoCommit = false
    autoPush = false
